* {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

/*general*/
  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(96, 94, 94);
  font-size:20px;
}

li {
  float: left;
}
#log_out {
  float: right;
}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 7px 8px;
  text-decoration: none;
}
li a:hover {
  background-color: rgb(66, 60, 60);
}

.textInput{
  padding: 8px;
	background-color:  rgb(216, 205, 152);
	border-radius: 5px;
  height: 16px;
  margin: auto;
  width: 75%;
}

.subtitle{
  margin: 0 auto;
  width: 95%;
  padding-left: 5px;
  margin-top: 10px;
}
/*login*/
#loginContainer {
  margin: 0 auto;
  width: 30%;
  border: 3px solid black;
  padding: 10px;
  margin-top: 100px;
  border-radius: 5px;
}
.loginLabels {
  margin-left: 55px;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight:bold;
}
#username, #password {
  width: 75%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  border: 2px solid black;
}

#username, #password::placeholder {
  font-style: italic;
}

#login {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: 15%;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  background-color: rgb(216, 205, 152);
  border: 2px solid black;
  font-weight:bold;
  font-stretch: extra-expanded;
  margin-top: 10px;
    cursor: pointer;
}

#login:hover  {
  transform: scale(1.05) perspective(1px);
}



/*Map styles*/

.routes {
  margin: 0 auto;
  width: 90%;
  border: 3px solid black;
  padding: 10px;
  margin-top: 10px;
}
#map {
  height: 600px;
  width: 100%;
}

.issue_container * {
  vertical-align: middle;
}
.float-container {
  padding: 20px;
  margin: auto;
  width: 100%;
}

.float-child {
  width: 40%;
  float: left;
  padding: 30px;
  background-color: aliceblue;
  border-radius: 10px;
}

/*monitor styles*/

.information{
  padding: 4px;
  font-style: italic;
}

.station_name{
  padding-bottom: 2px;
  font-size: larger;
  font-weight: bolder;
}

.water_level {
  height: 24px;
  width: 50%;
  background-color:honeydew;
  border: 3px solid lightblue;
  border-radius: 3px;
  
  }
  .current{
    height: 24px;
    width: 1%;
    background-color:dodgerblue;
    font-style: italic;
    border: 0px;
    border-right: 5px solid lightblue;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    box-sizing: border-box;
}

.water_quality{
  padding: 5px;
}

#report_form{
  height: 24px;
  width: 100%;
}

#report_message{
  height: 100%;
  width: 75%;
  font-style: italic;
}


#submit_report{
  height: 100%;
  width: 72px;
}
